<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-type'>
    <title>Mosquito</title>
    <link href="{{ site.baseurl }}/css/main.css" media="screen" rel="stylesheet" type="text/css" />
    <link rel="icon" href="{{ site.baseurl }}/images/logo/logomark.svg" type="image/svg+xml">
    <link rel="alternate" type="application/atom+xml" href="/atom.xml">
    <meta config="NOFOLLOW,NOINDEX" name="robots">
    <meta charset="utf-8">
  </head>
  <body>
    <div id="wrap">
      <div id="header">
        <h1>
          <img src="{{ site.baseurl }}/images/logo/logomark.svg" alt="" style="display: inline-block; width: 2rem;">
          <a href="/">Mosquito</a>
        </h1>
        <p>A background task framework for Crystal applications.</p>
      </div>
      <div id="nav">
        <a href="https://github.com/mosquito-cr/mosquito">Source Code</a> &middot;
        <a href="https://mosquito-cr.github.io/mosquito/Mosquito.html">Docs</a> &middot;
        <a href="https://github.com/mosquito-cr/mosquito/wiki">Wiki</a>
      </div>
      <hr>
